<h1>Admin Robots Dashboard</h1>

<ul>

<% @robots.each do |robot| %>
  <li>
    <%= robot.name %> </br>
    <%= robot.location %></br>
    <%= robot.serial_no %> </br>
    <%= link_to 'Update Robot', edit_admin_robot_path(robot) %>
    <%= link_to 'Delete Robot', admin_robot_path(robot), method: 'delete' %>
  </li>
<% end %>
</ul>
