<h1>Available Robots</h1>

<% @robots.each do |robot| %>
  <div class="col s7 m7">
      <div class="card horizontal">
        <div class="card-image">
          <img src='https://robohash.org/<%= robot.name %>'>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <ul>
              <li><%= robot.name %></li>
              <li><%= robot.location %></li>
              <li><%= robot.serial_no %></li>
            </ul>
          </div>
          <div class="card-action">
            <%= button_to 'Buy Robot', users_purchase_path(robot: robot.id), method: 'put' %>
          </div>
        </div>
      </div>
    </div>
<% end %>
